# Ignore terraform state, lock and backup files
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Ignore zip file of lambda
lambda_functions/*.zip

# Ignore compiled UE5 project
ue5-pixel-streaming-project/Linux
ue5-pixel-streaming-project/Windows